*{
	Line-height: 1.618em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

body {
	margin: 40px;	
	background: linear-gradient(#465c8b, #f7ef6a);
	background-repeat: no-repeat;
   	background-size: cover;
   	color: white;
   	transition: background-color .5s;
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
}

.grid-item {
	box-shadow: 10px 10px 5px -5px rgba(60,78,119,0.71);	
}


.header {
	display: flex;
	grid-column: 1/-1;
	justify-content: center; 
	align-content: space-around;
	font-family: 'Merienda', cursive, sans-serif;
	font-size: 100px;
	background-color: #93C178;	
}

.marquee{
	display: flex;
	grid-column: 1/-1;
}

h1 {
	font-family: 'Merienda', cursive, sans-serif;
	font-size: 50px;
	color: white;
	text-align: center
}

h2 {
	font-family: 'Merienda', cursive, sans-serif;
	font-size: 30px;
	color: white;	
	text-align: center
}

h3 {
	font-size: 25px;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;	
}

h4 {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;	
	padding: 10px 100px 5px 200px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 175px;
	height: 175px;
	margin: 0px 50px;
}

.about {
	display: flex;
	grid-column: 1/3;
	background-color: #f7ef6a;
	padding-top: 90px;
	padding-bottom: 40px;
	flex-direction: column;

	color: #334366;
			
	background-repeat: no-repeat;
	background-size: cover;
    background-position: 0% 40% ;

	background-image:  url("/images/cuttingboard.jpg");
}


#aboutText1 {
	display: flex; 
	align-items: left;  
    color: #334366;
    padding-top: 20px;
    padding-left: 175px;
   
}

#aboutText2 {
	display: flex; 
	align-items: left;  
    color: #334366;
    padding-left: 300px;
}

#aboutText3 {
	display: flex; 
	align-items: left;  
    color: #334366;
    padding-left: 400px;
}


#aboutText4 {
	display: flex; 
	align-items: left;  
    color: #334366;
    padding-left: 475px;
}

    
.inventory {
	display: flex;	
	align-items: center;
	background-color: #465c8b;
	flex-direction: column;
	padding-top: 50px;	
}


.food-list {
	display: flex;
	align-items:left;
	flex-direction: column;
	padding-top: 30px;
	justify-content: space-around;
}


.list-display li {
	display: flex;
  	margin-bottom:.4rem;
  	font-size:1.5rem;
}

.list-checkmarks {
  	padding-left:1.5rem;
}

.list-checkmarks li {
  	list-style-type:none;
  	padding-left:1rem;
}

.list-checkmarks li:before {    
	font-family: 'FontAwesome';
	content: "\f00c";
	margin:0 10px 0 -28px;
	color: #17aa1c;
}

button {
    border: 1.5px solid;
    background-color: white;  
    padding: 1px 6px;
    font-size: 13px;
    cursor: pointer;
    border-color: #ff4500;
    color: #ff4500;
    border-radius: 16px;
}

button:hover {
    background-color: #ff4500;
    color: white;
}

.food-list-buttons {
	display: flex;
	justify-content: space-between;
	
}

#more-food {
	padding-top: 50px;
}


#find-recipes #clear-food{
	display: flex;	
	margin: 20px;
}


.footer { 
	display:flex;
 	justify-content: center;
 	background-color:#ff4500;
 	grid-column: 2/3;
}


.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;    
}


.fa-github {
	background: #000;
	color: white;
	margin: .1em;
}

.sidenav {
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ff4500;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: .85;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #705151;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, /*.offcanvas a:focus*/ {
  color: #f1f1f1;

}

.sidenav .closebtn {
  position:absolute;
  top:0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/*#main.open {
  font-size: 30px;
  cursor: pointer;
}*/

@mediascreen and (max-height: 450px) {
  .sidenav{padding-top: 15px;}
  .sidenav a{font-size: 18px;}
}