<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/cartstyles.css">
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto" rel="stylesheet">
  <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Crafty+Girls" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crafty+Girls" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Food Rescue</title>
</head>

<body>

  <div class="grid-container">

    <header class="grid-item header" > 

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      
      <div class="recipes">
        <button class="dropbtn">
      <a href="http://localhost:8080/show-recipes">Recipes </a>     
        <!-- <button class="dropbtn"> -->
          <i class= "fa fa-caret-down"></i>
        </button>
        <div class="recipes-content">
          <a href="http://localhost:8080/tag?id=39">Breakfast</a>
          <a href="http://localhost:8080/tag?id=41">Lunch</a>
          <a href="http://localhost:8080/tag?id=40">Dinner</a>
          <a href="http://localhost:8080/tag?id=42">Snack</a>
          <a href="http://localhost:8080/show-recipes">All Recipes</a>
        </div>
      </div>

      <a href="http://localhost:8080/cart">Shopping List</a>
      <a href="https://www.greaterclevelandfoodbank.org/">Food Banks</a>
      <a href="https://www.choosemyplate.gov/">Healthy Portions</a>
      <a href="https://localhost:8080/home">Home</a>


  
   
  </div>

  <div id="main">
      <span style="font-size: 30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
  </div>    

      Food<a href="http://localhost:8080/home"><img class = "logo" img src="/images/Logo.jpg"></a>Rescue
    </header>

    <div class="grid-item list">

      <h3>Shopping List</h3>

  <div th:each="cart: ${cartModel}">
  
    <ul>
      <li th:text="${cart.item.itemName}"></li>
    </ul>
  </div>

  </div>

    <div class="grid-item lifetime">

    <a href="https://www.cooksmarts.com/cooking-lessons/cooking-produce/buying-storing/" target="_blank">
      <img class="time" src="/images/shelflife.jpg">
    </a>

  </div>

  <div class="grid-item inventory">

    <h3>Kitchen Inventory</h3>
    <ul>
      <li th:each="inventoryItem : ${inventoryItemsModel}" th:text="${inventoryItem.inventoryItemName}"></li>
    </ul>   

  </div>

  <script src = "./js/indexstyles.js"></script>

</body>
</html>
