<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/indexstylestwo.css">
<link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<title>All Recipes</title>
</head>

<body>

	<div class="grid-container">

		<header class="grid-item header">
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

				<div class="recipes">
					<button class="dropbtn">
						<a href="http://localhost:8080/show-recipes">Recipes </a>
						<!-- <button class="dropbtn"> -->
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="recipes-content">
						<a href="http://localhost:8080/tag?id=39">Breakfast</a> <a
							href="http://localhost:8080/tag?id=41">Lunch</a> <a
							href="http://localhost:8080/tag?id=40">Dinner</a> <a
							href="http://localhost:8080/tag?id=42">Snack</a>
					</div>
				</div>

				<a href="http://localhost:8080/cart">Shopping List</a> <a href="#">Food
					Banks</a> <a href="https://www.choosemyplate.gov/">Healthy Portions</a>
				<a href="http://localhost:8080/home">Home</a>
			</div>

			<div id="main">
				<span style="font-size: 30px; cursor: pointer;" onclick="openNav()">&#9776;</span>
			</div>
			Food<img class="logo" img src="/images/Logo.jpg"></img>Rescue
		</header>


		<div class="grid-item recipes">
			<h1>Recipes</h1>

			<h2>Recipes you have all the ingredients for</h2>
			<div th:each="recipe: ${completeRecipesModel}">
				<h3>
					<a th:href="@{/recipe(id=${recipe.id})}"
						th:text="${recipe.recipeName}"></a>
				</h3>
			</div>

			<h2>Recipes with at least 1 match</h2>
			<div th:each="recipe: ${recipesModel}">
				<h3>
					<a th:href="@{/recipe(id=${recipe.id})}"
						th:text="${recipe.recipeName}"></a>
				</h3>
			</div>

		</div>
		<footer class="grid-item footer">
			&copyFlexCode2018 <a
				href="https://github.com/food-rescue/food-rescue-app"
				class="fa fa-github-square"></a>
		</footer>

	</div> <!-- grid-container -->

	<script src="./js/indexstyles.js"></script>
</body>
</html>