<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
 <link rel="stylesheet" type="text/css" href="/css/indexstylestwo.css">
 <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>All Recipes</title>
</head>

<body>


	<div class="grid-container">

	<header class="grid-item header" > 
  		Food<img class = "logo" img src="/images/Logo.jpg"></img>Rescue
  	</header>
  	
  	
<div class="grid-item recipes">
	<h1>Recipes</h1>

	<h2>Recipes you have all the ingredients for</h2>
		<div th:each="recipe: ${completeRecipesModel}">
			<h3>
				<a th:href="@{/recipe(id=${recipe.id})}" th:text="${recipe.recipeName}"></a>
			</h3>
		</div>

	<h2>Recipes with at least 1 match</h2>
	<div th:each="recipe: ${recipesModel}">
		<h3>
			<a th:href="@{/recipe(id=${recipe.id})}" th:text="${recipe.recipeName}"></a>
		</h3>
	</div>

	</div>
<footer class="grid-item footer">&copyFlexCode2018 <a href="https://github.com/food-rescue/food-rescue-app" class="fa fa-github-square"></a>
</footer>
	
</div>
                                                                                                                            
</body>
</html>