<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
 <link rel="stylesheet" type="text/css" href="/css/indexstylestwo.css">
 <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<title>A Single Item</title>
</head>
<body>
<header class="grid-item header" > 

	<div id="mySidenav" class="sidenav">
   		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   		
   		<div class="recipes">
   			<button class="dropbtn">
   		<a href="http://localhost:8080/show-recipes">Recipes </a> 		
   			<!-- <button class="dropbtn"> -->
   				<i class= "fa fa-caret-down"></i>
   			</button>
   			<div class="recipes-content">
   				<a href="http://localhost:8080/tag?id=39">Breakfast</a>
   				<a href="http://localhost:8080/tag?id=41">Lunch</a>
   				<a href="http://localhost:8080/tag?id=40">Dinner</a>
   				<a href="http://localhost:8080/tag?id=42">Snack</a>
          <a href="http://localhost:8080/show-recipes">All Recipes</a>
   			</div>
   		</div>

   		<a href="http://localhost:8080/cart">Shopping List</a>
   		<a href="https://www.greaterclevelandfoodbank.org/">Food Banks</a>
   		<a href="https://www.choosemyplate.gov/">Healthy Portions</a>
   		<a href="http://localhost:8080/home">Home</a>
 	</div>

 	<div id="main">
   		<span style="font-size: 30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
 	</div> 	
  		Food<a class="goHome" href="/home"><img class="logo" img src="/images/Logo.jpg"></img></a>Rescue
  	</header>

	<div th:each="item: ${itemsModel}">
		<h2 class="recipeName" th:text="${item.itemName}"></h2>
		<div class="textOverImage"  img background:src= "${item.itemImage}" data-text="Freshness Tips"  th:data-text= "Freshness + ' ' + Tips + ' ' + ${item.tip}"> 
      <img class="recipeImage" th:src = "${item.itemImage}">
    </div>

		<div  th:each="recipe: ${item.recipes}">
			<a class="item-recipes-list" th:href="@{/recipe(id=${recipe.id})}" th:text="${recipe.recipeName}"></a>
		</div>
		
		<form method="Post">
			<input name="id" type="hidden" th:value="${item.id}" />
			<button class="icon" th:formaction="@{/add-item}"><i src="/images/shopping-cart-button.png"></i></button>
		</form>

	</div>

<a class="itemsView" href="http://localhost:8080/show-items">Back to items view</a>
<footer class="grid-item footer">&copyFood Rescue 2018<a href="https://github.com/food-rescue/food-rescue-app" class="fa fa-github-square"></a>
 		</footer>
</div>

<script src = "./js/indexstyles.js"></script>

</body>
</html>