<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
 <link rel="stylesheet" type="text/css" href="/css/indexstylestwo.css">
 <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>A Single Recipe</title>
</head>
<body>
	<div class="grid-container">

	<header class="grid-item header" > 
  		Food<img class = "logo" img src="/images/Logo.jpg"></img>Rescue
  	</header>
  	
<div class="grid-item-recipe">
	<div th:each="recipe: ${recipesModel}">
		<h2 class="recipeName" th:text="${recipe.recipeName}"></h2>
		<img class="recipeImage" th:src = "${recipe.image}">
		<p class="recipeInstructions" th:text="${recipe.instructions}"></p>

		<div  class="recipeTag" th:each="tag: ${recipe.tag}">
			<a  th:href="@{/tag(id=${tag.id})}" th:text="${recipe.tag.meal} "></a>
		</div>

		<div class="recipeTag" th:each="item: ${recipe.items}">
			<a th:href="@{/item(id=${item.id})}" th:text="${item.itemName}"></a>
		</div>
	</div>

<a href="http://localhost:8080/show-recipes">Back to Recipes View</a>

<footer class="grid-item footer">&copyFlexCode2018 <a href="https://github.com/food-rescue/food-rescue-app" class="fa fa-github-square"></a>
 		</footer>
</div>
</body>
</html>