<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>

 <link rel="stylesheet" type="text/css" href="/css/indexstylestwo.css">
 <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>All Recipes</title>
</head>
<body>
<header class="grid-item header" > 
  		Food<img class = "logo" img src="/images/Logo.jpg"></img>Rescue
  	</header>
  	
  	
<div id="mySidenav" class="sidenav">
   		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   		<a href="http://localhost:8080/home">Home</a>
   		<a href="#">Shopping Cart</a>
   		<a href="#">Food Banks</a>
   		<a href="https://www.webmd.com/diet/printable/portion-control-size-guide">Healthy Portions</a>
   		<a href="#">About Us</a>
 	</div>

	
	<h1>All Recipes</h1>

	<div th:each="recipe: ${recipesModel}">
		<h2>
			<a id="recipesName" th:href="@{/recipe(id=${recipe.id})}" th:text="${recipe.recipeName}"></a>
		</h2>
	</div>

<a class="tagsView" href="http://localhost:8080/show-tags">Back to Tags View</a>
<footer class="grid-item footer">&copyFlexCode2018 <a href="https://github.com/food-rescue/food-rescue-app" class="fa fa-github-square"></a>
 		</footer>
 		
 <script src = "./js/indexstyles.js"></script>
</div>
</body>
</html>