<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
 <link rel="stylesheet" type="text/css" href="/css/indexstylestwo.css">
 <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CRoboto" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>All Tags</title>
</head>
<body>

<div class="grid-container">

	<header class="grid-item header" > 
  		Food<img class = "logo" img src="/images/Logo.jpg"></img>Rescue
  	</header>
  	
  	<div class="grid-item-recipe">
	<h1 class="allTagsTitle"> All Tags</h1>

	

	<div class="allTags" th:each="tag: ${tagsModel}">
		<h2>
			<a th:href="@{/tag(id=${tag.id})}" th:text="${tag.meal}"></a>
		</h2>
	</div>

<footer class="grid-item footer">&copyFlexCode2018 <a href="https://github.com/food-rescue/food-rescue-app" class="fa fa-github-square"></a>
 		</footer>
 		
 		</div>
</body>
</html>